$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$gray: #86878b;
$gray-light: #bdbdbd;
$yellow: #ff8b38;
$black: #000000;
$black-secondary: #333333;
$white: #ffffff;
$white-bold: #f5f5f5;
